xalan/c/trunk/xdocs/style/csv/markup.ent

<?xml encoding='US-ASCII'?>

<!-- Revisions:
     2013-07-09  Hathaway - Add mirrors.ent (select ASF distribution mirror)
-->

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br">

<!-- import the asfmirror element -->
<!ENTITY % externalAsfMirrors SYSTEM "mirrors.ent">
%externalAsfMirrors;

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "../../sources/entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;|ref)*>
<!ELEMENT br EMPTY>

<!ELEMENT comment (#PCDATA)>